.avatar-wrap-box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: none;
  overflow: hidden;
  .avatar-image {
    width: 100%;
    height: 100%;
    display: block;
    border:2px solid #e65100;
    box-shadow: 0 0 20px rgba(251, 140, 0, 1);
  }
}