.menu-wrap-list{
  display: flex;
  flex: 0 2 200px;
  align-items: flex-start;
  border: 1px solid $input-border-color;
  .menu-list {
    display:flex;
    flex:1;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1.25rem 0;
    .menu-list-logo {
      display: flex;
      width: 100%;
      flex: none;
      flex-basis: 180px;
      // border: 1px solid black;
      margin-bottom: 1.25rem;
      background-image: url('~/assets/images/Logo.png');
      background-size: 90%;
      background-position: center;
      background-repeat: no-repeat;
      
      cursor:pointer;
    }
    
    .menu-list-item {
      display: flex;
      flex:1 80px;
      .menu-list-link{
        display: flex;
        flex:1;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color:$black-color; 
        &:hover{
          color: $middle-point-color;
        }
        &:active{
          color:$high-point-color;
        }
      }
      cursor: pointer;
    }

    .router-link-exact-active{
        border-left: 3px solid $middle-point-color;
        color: $middle-point-color;
    }
  }
}