.image-list-outter-wrap{
  display:flex;
  flex-direction: column;
  margin-right:0.5rem;
  .cur-image-box{
    display:flex;
    min-width: 420px;
    max-width: 420px;
    min-height: 240px;
    max-height: 240px;
    padding: 0.5rem;
    background-color:$middle-point-color;
    justify-content: center;
    align-items: center;
    p{
      text-align:center;
    }
  }
  .active-item{
    background-color:$high-point-color !important;
  }
  .image-list-box{
    display:flex;
    flex:4;
    overflow-x: scroll;
    overflow-y:hidden;
    min-height:120px;
    max-width:420px;
    padding: 0.45rem 0;
    transition: all 0.7s;

    &::-webkit-scrollbar {
      border-radius: 1.25rem;
      height:0.3rem;
    }
    &::-webkit-scrollbar-track {
      border-radius: 1.25rem;
      background-color: $low-point-color;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 1.25rem;
      background-color: $high-point-color;
    }

    // background-color:$low-point-color;
    .image-item{
      min-width:120px;
      max-width:120px;
      padding: 0.2rem;
      background-color:$middle-point-color;
      border-radius:0.2rem;
      margin:0 0.2rem;
      cursor:pointer;
      img{
        // display:flex;
        width:100%;height:100%;
      }
    }
  }

}