.input-wrap-box{
  display:flex;
  flex:1 1 400;
  border:none;
  .correct-input{
    border:1px solid $correct-color;
  }
  .incorrect-input{
    border: 1px solid $incorrect-color;
  }
  .input-text, .input-password, .input-number, .input-date{
    flex:1;
    border: 1px solid $input-border-color;
    outline:none;
    border-radius:4px;
    height:40px;
    background:none;
    padding: 0 8px;
    &:focus{
      border: 1px solid $middle-point-color;
    }
    &:hover{
      
      border: 1px solid $low-point-color;
    }
  }
}