.input-wrap-box {
  display: flex;
  flex-direction: column;
  flex: 1 1 200;
  border: none;

  label {
    display: flex;
    align-items: center;
    .suffix {
      font-size: $small-font-size;
      min-width: 40px;
    }
  }
  .validate-message {
    font-size: 8px;
    color: $incorrect-color;
  }
  .correct-message {
    color: $correct-color;
  }

  .hidden-arrow::-webkit-outer-spin-button,
  .hidden-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-text,
  .input-password,
  .input-number,
  .input-date,
  .select-list-button,
  .input-textarea {
    flex: 1;
    border: 1px solid $input-border-color;
    outline: none;
    border-radius: 4px;
    height: 40px;
    background: none;
    color:#fff;
    padding: 0 8px;
    display: flexbox;
    &:focus {
      border: 1px solid $middle-point-color;
    }
    &:hover {
      border: 1px solid $low-point-color;
    }
  }

  .select-list-button {
    text-align: left;
    line-height: 40px;
  }
  .select-list-box {
    background-color: $low-point-color;
    margin-top: 2px;
    border-radius: 4px;
    cursor: pointer;
    li {
      transition: all 0.5s ease-out;
      padding: 4px;

      &:hover {
        background-color: $middle-point-color;
      }
    }
  }

  .input-textarea {
    height: auto;
    white-space: pre-line;
    resize: none;
    padding: 4px;
    outline: none;
    // https://blossoming-man.tistory.com/entry/textarea에-엔터를-입력했는데-렌더링해보니-줄-바꿈이-안-된다
  }
}

.memo-box{
  width:100%;
  &:disabled{
    background:none;
  }
  resize:none;
  color:$white-color;
  padding:0.5rem;
}