.square-list-wrap-box{
  display:flex;
  flex-direction: row;
  width:100%;
  overflow:hidden;
  .square-item {
    // max-width: 200px;
    // height: 200px;
    display:flexbox;
    flex-direction: column;
    flex: 3;
    border-radius:8px;
    background: linear-gradient(to bottom, $middle-point-color, $high-point-color);
    color:$white-color;
    &:first-child{
      margin-left:0;
    }
    &:last-child{
      margin-right:0;
    }

  }
}
.rectangle-list-wrap-box{
  display:flex;
  flex-direction: column;
  .rectangle-item{
    display:flex;
    flex:1;
    width:100%;
    flex-direction: column;
    border-radius:20px;
    color:$white-color;
    background: linear-gradient( to bottom, $middle-point-color, $high-point-color);
  }
}