.progress-bar{
  display:flex;
  progress{
    height:30px;
    appearance: none;
  }
  .low-level{
    &::-webkit-progress-bar{
      border-radius: 1rem;
      background-color: $progress-background-color;
    }
    &::-webkit-progress-value{
      border-radius: 1rem;
      background-color: $low-point-color;
    }
  }
  .middle-level{
    &::-webkit-progress-bar{
      border-radius: 1rem;
      background-color: $progress-background-color;
    }
    &::-webkit-progress-value{
      border-radius: 1rem;
      background-color: $middle-point-color;
    }
  }
  .high-level{
    &::-webkit-progress-bar{
      border-radius: 1rem;
      background-color: $progress-background-color;
    }
    &::-webkit-progress-value{
      border-radius: 1rem;
      background-color: $high-point-color;
    }
  }
}