.weight-info-box{
  margin-top:30px;
  display: flex;
  .photo-list-wrap{
    display:flex;
    flex: 5;
    justify-content: cneter;
    align-items: center;
    p{
      width:100%;
    }
  }
  .info-list-out-wrap{
    display:flex; 
    flex:6;
    flex-direction: column;
    .info-list-wrap{
      display:flex;
      flex: 1;
      p{
        display:flex;
        flex:1;
        flex-direction: column;
        span{
          margin-bottom:20px;
        }
      }
    }
  }
}