.weight-list-wrap-box {
  .title-wrap-box {
    display: flex;
    justify-content: space-between;
  }
  .weight-list-box{
    max-height:300px;
  }
  .edit-button{
    max-width:120px;
  }
  .weight-calendar{
    display:flex;
    flex:1;
    justify-content:center;
  }
}