.inbody-info-box{
  margin-top:30px;
  display: flex;
  .chart-wrap{
    display:flex;
    flex: 5;
    justify-content: cneter;
    align-items: center;
    p{
      width:100%;
    }
  }
  .info-list-wrap{
    display:flex;
    flex-direction: column;
    flex: 3;
    .info-item{
      display: flex;
      flex:1;
      flex-direction: row;
      p{
        display:flex;
        flex:1;
        flex-direction: column;
        span{
          margin-bottom:20px;
        }
      }
    }
  }
}

.chart-wrap-box{
  // margin-top:60px;
  .chart-wrap{
    display:flex;
    border: 1px solid black;
    // height:500px;
    flex:1;
    margin-top:8px;
    justify-content:center;
    align-items: center;
  }
}

.inbodyDetail-button-wrap{
  display:flex;
  justify-content: flex-end;
  margin-top:20px;
  button{
    flex:0;
  }
}