.inbody-info-box{
  margin-top:30px;
  display: flex;
  .info-list-wrap{
    display:flex;
    flex-direction: column;
    flex: 3;
    .info-item{
      display: flex;
      flex:1;
      flex-direction: row;
      p{
        display:flex;
        flex:1;
        flex-direction: column;
        span{
          margin-bottom:20px;
        }
      }
    }
  }
}