.inbody-list-wrap-box{
  .title-wrap-box{
    display: flex;
    justify-content: space-between;
  }
  .inbody-info-wrap-box{
    display:flex;
    // flex-direction: row;
    margin-top:20px;
    justify-content: center;
    align-items: center;
    .chart-box{
      // width: calc(100% - 200px);
      width: 100%;
      height:200px;
      border:1px solid black;
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }
}