

.mealEdit-input-wrap-box{
  display:flex;
  margin-top:20px;
  .mealEdit-input-label-wrap {
    display: flex;
    flex:6;
    .mealEdit-input-label {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      // flex: 3;
      .number-input-wrap {
        display: flex;
        /* justify-content: flex-start; */
        align-items: center;
        span {
          display: flex;
          width: 100%;
        }
        .number-input {
          width: 100px;
          // overflow: hidden;
        }
      }
    }
  }
  .food-list-wrap-box{
    display:flex;
    flex:6;

  }
}

.photo-wrap-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .photo-wrap {
    display: flex;
    width: 100%;
    // height: 200px;

    // border: 1px solid $white-color;
  }
}
.mealEdit-button-wrap {
  display: flex;
  justify-content: flex-end;
  button {
    display: flex;
    flex: 0;
  }
}