.meal-list-wrap-box{
  .title-wrap-box{
    display: flex;
    justify-content: space-between;
  }
  .meal-list-box{
    max-height:300px;
  }
  .edit-button{
    max-width:120px;
  }
  .meal-calendar{
    justify-content:center
  }
}