.aerobic-info-box {
  margin-top: 30px;
  display: flex;

  .kcal-chart-wrap{
    display:flex;
    flex:6;
    justify-content:center;
    align-items: center;
  }
  .info-list-out-wrap{
    display:flex; flex:6;
    flex-direction: column;
    .info-list-wrap {
      display: flex;
      flex: 1;
      p {
        display: flex;
        flex: 1;
        flex-direction: column;
        span {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.info-memo-box{
  display:flex;
  align-items: center;
}