.aerobic-list-wrap-box {
  .title-wrap-box {
    display: flex;
    justify-content: space-between;
  }
  .aerobic-list-box{
    max-height:300px;
  }
  .edit-button{
    max-width:120px;
  }
  .aerobic-calendar{
    justify-content:center
  }
}