

@import './variable.scss';
@import './font.scss';
@import './main.scss';
@import './login.scss';
@import './signup.scss';
@import './userpage.scss';

@import './common/common.scss';
@import './common/button.scss';
@import './common/input.scss';
@import './common/list.scss';
@import './common/meterbar.scss';

@import './menu/menu.scss';

@import './user/avatar.scss';
@import './user/userInfo.scss';

@import './weight/weightDetail.scss';
@import './weight/weightEdit.scss';
@import './aerobic/aerobicDetail.scss';
@import './aerobic/aerobicEdit.scss';
@import './meal/mealDetail.scss';
@import './meal/mealEdit.scss';
@import './inbody/inbodyDetail.scss';
@import './inbody/inbodyEdit.scss';

*,
*:before,
*:after {
  box-sizing: inherit;
  // font-family: 'D2';
  font-family: $font-NotoSans;
  // font-family: 'BMJUA';
  // font-family: 'KCC-Ganpan';
  // font-family: 'TheJamsil';
  // font-family: 'yg-jalnan';
}
html,
body {
  width: 100%;
  direction: ltr;
  margin: 0;
  box-sizing: border-box;
  // overflow: hidden;
  font-size: $default-font-size;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $font-TheJamsil;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  border-style: none;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.hidden-box {
  display: none;
}
.full-width {
  width: 100%;
}
.content-layout {
  width: 940px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: $layout-background-color;
}
.content-title {
  color: $middle-point-color;
}
.content-wrap-box {
  background-color: #fff;
  border-radius: 20px;
  border: none;
  padding: 16px;
  margin: 8px 0;
}

@mixin ellipsis($line-cnt, $line-height) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-cnt; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: $line-height;
  height: $line-height * $line-cnt; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}
.ellipsis-1 {
  @include ellipsis(1, 1.5em);
}
.ellipsis-3 {
  @include ellipsis(3, 1.3em);
}

// :root {
//   --fc-button-text-color:#fff;
//   --fc-button-bg-color:red;
// }