.default-layout {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url('@/assets/images/background-image.png') no-repeat center center;
  background-size: cover;
}

.main-layout {
  display: flex;
  flex-direction: row;
  // height: 100vh;
  justify-content: center;
  align-items: center;
}