.login-wrap-box {
  width: 1000px;
  height: 420px;
  display: flex;
  .login-introduce-box {
    display:flex;
    flex-direction: column;
    padding: 30px;
    flex: 1 1 600px;
    height: 100%;
    color: #fff;
    background: linear-gradient(to bottom, $middle-point-color, $high-point-color);
    justify-content: space-between;

    .introduce-title {
      font-weight: 900;
      font-size: $large-font-size;
    }
    .introduce-box {
      font-weight: 500;
      .introduce-message{
        // margin:16px 0;
        &:nth-child(3),&:nth-child(4),&:nth-child(5){
          margin: 0;
        }
      }
      .contact-info{
        margin-top:60px;
        font-size:$small-font-size;
      }
    }
  }
  .login-form-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .login-form-title {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: $middle-point-color;
      height: 78px;
    }
    .login-form {
      padding-bottom:30px;
      height: calc(100% - 80px);
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      .login-input{
        input{
          color:#fff;
        }
      }
      
      .login-button {
        font-weight: 900;
      }

      .move-sign-up-wrap-box {
        flex: 1;
        display: flex;
        color: #fff;
        justify-content: center;
        align-items: center;
        font-size:$small-font-size
      }
    }
  }
}