.main-page {
  width: 940px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: $layout-background-color;

.activity-meal-wrap-box {
  display: flex;
  flex-direction: row;

  .activity-wrap-box,
  .meal-wrap-box {
    flex-direction: column;

    .activity-title-box,
    .meal-title-box {
      display: flex;
      justify-content: space-between;

      .activity-title,
      .meal-title {
        /* justify-self: flex-start; */
        align-content: flex-start;
      }
      .activity-date{
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        align-self: end;
        font-size:$small-font-size;
      }
    }
  }
  .activity-wrap-box {
    flex: 3;
    margin-right: 8px;
    .calendar {
      flex: 1 1 200px;
      min-width:200px;
      height: 200px;
      margin-top: 8px;
      border: 1px solid black;
    }
  }
  .meal-wrap-box {
    flex: 9;
    margin-left: 8px;
  }
}

.last-activity-wrap-box {
  display: flex;
  flex-direction: row;
  .last-activity-list {
    flex: 4;
    padding-right:16px;
    .activity-title-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .activity-title{
        /* justify-self: flex-start; */
        align-content: flex-start;
      }
      .activity-date{
        justify-content: center;
        align-items: center;
        justify-self: flex-end;
        align-self: end;
        font-size:$small-font-size;
      }
    }
  }
  .last-activity-chart-box {
    display: flex;
    flex-direction: column;
    flex: 8;
    padding: 8px;
    border: 1px solid black;
    .last-activity-chart-info {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;

      .chart-info-item {
        flex: 3;
        justify-content: center;
        align-items: center;
        height: 40px;
        &:nth-child(2) {
          border-right: 2px solid black;
          border-left: 2px solid black;
        }
        /* .chart-info-item-title {
        } */
      }
    }
    .last-activity-chart {
      border: 1px solid black;
      height: 100px;
    }
  }
}
}