.signup-wrap-box {
  display: flex;
  flex-direction: row;
  .signup-introduce-box {
    display:flex;
    flex-direction: column;
    flex: 1 0 340px;
    padding: 30px;
    color: $white-color;
    background: linear-gradient(to bottom, $middle-point-color, $high-point-color);

    .introduce-title {
      font-weight: 900;
      font-size: $large-font-size;
    }
    .introduce-box {
      .introduce-message{
        &:nth-child(3),&:nth-child(4),&:nth-child(5){
          margin: 0;
        }
      }
      .contact-info{
        margin-top:1.25rem;
        font-size:$small-font-size;
      }
    }
  }

  .signup-form-box{
    padding: 30px 120px;
    flex: 1 0;
    background-color: rgba(0, 0, 0, 0.8);
    .signup-form-title {
      display: flex;
      flex: 1;
      height:80px;
      justify-content: center;
      align-items: center;
      color: $middle-point-color;
    }
    .signup-form {
      flex-direction: column;
      
        input{
          color:#fff;
        }
      
      .signup-id-wrap{
        display: flex;
        align-items: flex-start;
        .input-wrap-box{
          margin-top:0;
        }
        .id-input{
          display:flex;
          flex:8;
        }
      }
      .signup-email-wrap{
        display: flex;
        align-items: flex-start;
        .input-wrap-box{
          margin-top:0;
        }
        .email-input{
          display:flex;
          flex:8;
        }
      }
      .signup-phone-wrap{
        display:flex;
        align-items:flex-start;
      }
      .signup-address-wrap{
        display: flex;
        flex-direction: column;
        .signup-zipcode-wrap{
          display: flex;
          flex-direction: row;
          .zipcode-input{
            display:flex;
            flex: 0 1 200px;
          }
          .find-zipcode-button{
            display:flex;
            flex: 0 1 100px;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

    .signup-button-wrap{
      display:flex;
      justify-content:flex-end;
      .cancel-button, .signup-button{
        flex: 0
      }
    }
  }
}

.check-ok {
  background-color: lightgreen;
  color: green;
}


.email-verificate-modal{
  position:absolute;
  top:50%; left:50%;
  width:600px;
  height:300px;
  margin-left:-300px;
  margin-top:-150px;
  background-color: $white-color;
  padding:2rem;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius:1.12rem;
  .email-verificate-content{

    .email-verificate-input-wrap{
      display:flex;
      // flex:1;
      .email-verificate-input{
        display:flex;
        flex:8;
      }
      .email-verificate-button{
        flex:0 0 80px;
      }
    }
    .email-verificate-timer-wrap{
      
    }
  }
  .email-verificate-modal-close-button{
    display:flex;
    justify-self:flex-end;
    flex:0 0 50px;
  }
}