$layout-background-color: #f1f3f5;

// point-color
$low-point-color: #FFE0B2;
$middle-point-color: #fb8c00;
$high-point-color: #e65100;

$meter-background-color: #ffab91;


$white-color: #fff;
$black-color: #000;

$input-border-color: #dbdbdb;
$correct-color: #00C853;
$incorrect-color: #d50000;